html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#site {
  background-color: #00f; }
  #site #background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 3rem;
    width: 100%;
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1; }
  #site nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #00f;
    z-index: 20; }
    #site nav ul {
      vertical-align: middle;
      text-align: center;
      color: #fff; }
    #site nav li {
      margin: 0.5rem 3rem;
      padding: 0 0.2rem 0.2rem 0;
      font-size: 2rem;
      letter-spacing: 0.3em;
      display: inline-block;
      font-family: 'Damion', cursive;
      color: white;
      border-bottom: 4px solid; }
  #site .content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 10; }
    #site .content img {
      display: block;
      width: 35%;
      margin-bottom: 6rem; }
      #site .content img:nth-child(even) {
        margin-left: 55%; }
      #site .content img:nth-child(odd) {
        margin-left: 10%; }
  #site .homepage_link {
    position: fixed;
    width: 5rem;
    z-index: 50; }
    #site .homepage_link#bb {
      top: 4rem;
      left: 8rem; }
    #site .homepage_link#ghost {
      right: 8rem;
      bottom: 9.2rem; }
    #site .homepage_link img {
      position: absolute;
      width: 100%;
      height: auto; }
    #site .homepage_link .show {
      opacity: 1; }
    #site .homepage_link .hover {
      opacity: 0; }
    #site .homepage_link:hover .show {
      opacity: 0; }
    #site .homepage_link:hover .hover {
      opacity: 1; }
  #site #archive_link {
    font-family: 'Damion', cursive;
    letter-spacing: 0.3em;
    position: fixed;
    left: 2rem;
    bottom: 5rem;
    padding: 1.5rem 2.5rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 2; }
    #site #archive_link p {
      padding-bottom: 0.2rem;
      border-bottom: 2px solid; }

/*# sourceMappingURL=main.css.map */
